<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Підприємства</title>
  <script src="https://kit.fontawesome.com/9d0f54947c.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="\css\styles.css">
</head>

<body>
  {{> header}}
  <main>
    <section class="pt-3 pb-3">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 col-md-6">
            <input type="text" name="search" id="search" class="form-control" placeholder="Введіть пошуковий запит" />
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-md-end mt-2 mt-md-0">
            <a class="btn btn-primary me-2" href="/objects/add">Додати підприємство</a>
            <form id="fileUploadForm" action="/objects/load-excel" enctype="multipart/form-data" method="POST"
              class="me-2">
              <input id="formFile" class="form-control" type="file" name="load-excel"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                required="required" onchange="uploadFile()" />
            </form>
            <button id="uploadButton" class="btn btn-primary" onclick="triggerFileInput()">Додати з Excel</button>
          </div>
        </div>

        {{#if objectItems.length}}
        <div class="table-responsive pt-1">
          <table id="sortableTable" class="table table-hover table-bordered">
            <thead>
              <tr class="align-middle">
                <th scope="col" class="sortColumn">id</th>
                <th scope="col" class="sortColumn">Назва</th>
                <th scope="col" class="sortColumn">Діяльність</th>
                <th scope="col" class="sortColumn">Адреса</th>
                <th scope="col" class="sortColumn">К<sub>нас<sub></th>
                <th scope="col" class="sortColumn">К<sub>ф<sub></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {{#each objectItems}}
              <tr>
                <th scope="row">{{this.object_id}}</th>
                <td>{{this.object_name}}</td>
                <td>{{this.object_activity}}</td>
                <td>{{this.object_address}}</td>
                <td>{{this.k_nas}}</td>
                <td>{{this.k_f}}</td>
                <td class="px-0">
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <a class="btn btn-link" href="/objects/{{this.object_id}}/edit">
                      <i class="fas fa-edit"></i>
                    </a>
                    <form action="/objects/{{this.object_id}}?_method=DELETE" method="POST">
                      <button class="btn btn-link" type="submit">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{else}}
        <div class="alert alert-primary text-center">
          Підприємства не знайдені
        </div>
        {{/if}}
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
  <script src="\js\uploadExcel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
  <script src="\js\tableSort.js"></script>
  <script src="\js\tableSearch.js"></script>
  <script src="\js\activeNavItem.js"></script>
</body>

</html>